<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Signup</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div class="container">
    <div class="screen">
      <div class="screen__content">


        <form action="/register" method="post" class="login">
          <div class="login__field">
            <i class="login__icon fas fa-user"></i>
            <input type="text" name="fullname" class="login__input" placeholder="Fullname">
          </div>
          <div class="login__field">
            <i class="login__icon fas fa-lock"></i>
            <input type="text"  name="username" class="login__input" placeholder="Username">
          </div>
          <div class="login__field">
            <i class="login__icon fas fa-lock"></i>
            <input type="email" name="email" class="login__input" placeholder="Email">
          </div>
          <div class="login__field">
            <i class="login__icon fas fa-lock"></i>
            <input type="password" name="password" class="login__input" placeholder="Password">
          </div>
          <button class="button signup__submit">
            <span class="button__text">Sign Up</span>
            <i class="button__icon fas fa-chevron-right"></i>
          </button>			
          <p class="middle">OR</p>	
          <button class="button login__submit">
            <span class="button__text"><a href="/login">Log in now</a></span>
            <i class="button__icon fas fa-chevron-right"></i>
          </button>				
        </form>

      </div>
      <div class="screen__background">
        <span class="screen__background__shape screen__background__shape4"></span>
        <span class="screen__background__shape screen__background__shape3"></span>		
        <span class="screen__background__shape screen__background__shape2"></span>
        <span class="screen__background__shape screen__background__shape1"></span>
      </div>		
    </div>
  </div>
</body>
</html>