.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.upper{
    background: #fff;
    font-size: 14px;
    margin-top: 7px;
    padding: 16px 20px;
    border-radius: 26px;
    border: 1px solid #D4D3E8;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
	box-shadow: 0px 2px 2px #5C5696;
    width: 80%;
    cursor:default;
}

.btn{
    background: #fff;
	font-size: 14px;
	margin-top: 7px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 101px;
	color: #4C489D;
	box-shadow: 0px 2px 2px #5C5696;
	cursor: pointer;
	transition: .2s;
}
.btn:active,
.btn:focus,
.btn:hover {
	border-color: #6A679E;
	outline: none;
}